<!doctype html>
<html lang="en">
    <title>Restaurant Reservations</title>
   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
   
    <link rel="stylesheet" href="css/style.css">
    <script src="lib/angular.js"></script>
    <script src="js/index.js"></script>
    <script src="js/controllers/rest1.js"></script>
   
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!-- Datepicker -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />

	<!-- Google Maps API -->
	<!-- <script src="js/controllers/gymkhana.js"></script> -->
	<script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAfsM9Cg39k_IdLXqWEJuyrKePXG1nG8LE&callback=initMap&language=en&region=us">
	</script>

<body role="document" ng-app="myApp">

	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container">
			<a href="#" class="navbar-brand">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
<!--         <div class="collapse navbar-collapse" id="navbarResponsive"></div>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="#">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Services</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Contact</a>
				</li>
			</ul>        	
		</div> -->
	</nav>
	<br>
	<br>
	<br>


	<!-- Page contents -->
	<div class="container theme-showcase" role="main" ng-controller="Rest1_Controller">
		<div class="card-header">
			<p>Make your reservation</p>
		</div>
		<div class="card">
			<div class="card-body">
				<div class="row my-4">
			
					<div class="col-lg-4">
						<div class="card">
							<img class="card-img-top" src="./images/rest1.jpg">
						</div>	
					</div>
					<div class="col-lg-4">
						<h4>Gymkhana Cafe</h4>
						<p>C-57, Bandra Kurla Complex, Bandra (East), Mumbai , India, 400051</p>
					</div>
					<div class="col-lg-4">
						Google Maps API
						<div id="map"></div>
					</div>
				</div>
			</div>
			
		</div> <!-- first row -->		

		<div class="row my-4">
			<div class="col-lg-6">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">About Gymkhana Cafe</h4>
						<p>This round-the-clock multi-cuisine restaurant offers a you relaxed, luxury-market atmosphere with well-lit open spaces to stroll around, while you sample delectable cuisines.
						Gymkhana Cafe - All-day Dining features a live kitchen and an exclusive central area for private dining of 10 guests lies enclosed in a glass structure inspired by the raw mysterious form of uncut Diamonds.</p>
						<br>
						<br>
						<p>Cuisine: Continental</p>
						<p>Dress Code: Casual</p>
					</div>
				</div>
				
			</div>
			<div class="col-lg-6">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Availability</h4>
						<div class="row">
							<div class="col-sm-4">
								<p>Date</p>
								<div class="form-group">
					                <div class="input-group date" id="datetimepicker4" data-target-input="nearest">
					                    <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker4" ng-model="date" />
					                    <div class="input-group-append" data-target="#datetimepicker4" data-toggle="datetimepicker">
					                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
					                    </div>
					                </div>
					            </div>
							</div>
				            <script type="text/javascript">
					            $(function () {
					                $('#datetimepicker4').datetimepicker({
					                    format: 'L'
					                });
					            });
				        	</script>
				        	<div class="col-sm-4">
				        		<p>Time</p>
					            <div class="form-group">
					                <div class="input-group date" id="datetimepicker3" data-target-input="nearest">
					                    <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker3" ng-model="time"/>
					                    <div class="input-group-append" data-target="#datetimepicker3" data-toggle="datetimepicker">
					                        <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
					                    </div>
					                </div>
					            </div>
					        </div>
					        <script type="text/javascript">
					            $(function () {
					                $('#datetimepicker3').datetimepicker({
					                    format: 'LT'
					                });
					            });
					        </script>
					        <div class="col-sm-4">
					        	<p>People</p>
					        	<div class="form-group">
							    <select class="form-control" id="exampleSelect1">
							      	<option ng-repeat="i in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]">{{i}}</option>
							  
							    </select>
							 </div>
					        </div>
						</div>
						<p>Available Offers</p>
						<p>{{date}}</p>
						<p>{{time}}</p>
					</div>

				</div>
			</div>
		</div> <!-- second row -->



	</div>

<!-- AIzaSyAfsM9Cg39k_IdLXqWEJuyrKePXG1nG8LE -->
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Online Reservations 2018</p>
      </div>
      <!-- /.container -->
    </footer>
  </body>
</html>